﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        {{ message }}
    </div>
    <div id="example-3">
        <button v-on:click="say('hi')">Run HSS</button>
        <button v-on:click="say('what')">Run MME</button>
        <button v-on:click="say('what')">Run SPGWC</button>
        <button v-on:click="say('what')">Run SPGWU</button>
    </div>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        new Vue({
            el: '#example-3',
            methods: {
                say: function (message) {
                    alert(message)
                }
            }
        })
    </script>
</body>
</html>